## <p style="text-align: right;"> &#9989; Put your name here</p>

# CMSE 201: Quiz 1 (Section 003 - Spring 2023)

The goal of this quiz is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll reflect on what you know about writing code using Python and showcase some of your new programming skills.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However, the use of any person-to-person communication software is absolutely not acceptable.**

**Do your own work.** This quiz is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. Any violation of academic integrity could result in you receiving a zero on the quiz.

---
# Academic integrity statement [10 points]

In the markdown cell below, put your personal academic integrity statement. By including this statement, you are confirming that you are submitting this as your own work and not that of someone else.

I, Juan José Lozano, as a member of the student body at MSU, promise to uphold the utmost academic integrity in all of my work. It is my duty as a Spartan to perform to the level of responsibility that is expected of me in this institution - an institution with high standards of academic integrity. This means being diligent in following academic guidelines and regulations and being transparent about my sources and methods. I will be committed to fostering a culture of academic integrity within my peers and strive to be an exemplary member of the MSU community.

---

# Calculating Costs

You work for a bookstore and need to calculate the cost of textbooks needed by a group of students. You have the following three lists:

- One with the name of the textbook;
- One with the quantity of the textbook that students need;
- One with the price of the book.

You need to calculate the total cost of selling the books by multiplying the quantity of each book by its corresponding price, and then summing up the results.

In [24]:
book_names = ["Science", "Accounting", "Art", "Biology", "History", "Business"]
book_quantity = [100, 50, 500, 2500, 100, 10]
book_prices_in_USD = [25, 25, 100, 20, 12, 30]

The total cost of selling the books is equal to 105250 USD

Your bookstore needs a piece of code that will calculate the total cost of books for each type. To calculate the total cost *for one item*, the item's price must be multiplied by the quantity needed (E.g., the total cost of Science book is \\$25 per book $\times$ 100 books $=$ \\$2500.) The cost of all books is the sum of the costs of each book.

Your boss started to write this bit of code (below), but part way through they ran into an error they couldn’t figure out. 

**You do not need to modify the following code block for answering Part 1.**

In [18]:
all_books_total_cost = []

for jj in range(book_quantity):
    book_total_cost = book_quantity[jj] * book_prices_in_USD[jj]
    all_books_total_cost.append(all_books_total_cost)
print(all_books_total_cost)

TypeError: 'list' object cannot be interpreted as an integer

&#9989;&nbsp; **Part 1 (25 points):** In the cell below, describe the bug in the code and how you solved it. Specifically, provide the following information: 
1. The line of code that caused the error(s)
2. (Where appropriate) The error code
3. A plain english description of the error(s) in the code
4. How you solved the error(s)

1.
There were 2 mistakes, first here:

3| for jj in range(book_quantity):

Here my boss should have written "for jj in range(len(book_quantity)):" as "book_quantity" is a list and cannot be used as the argument for the range function.

The error code was: TypeError: 'list' object cannot be interpreted as an integer

plain english "The range function need a number to work, seeing as a list is not a number there was an error"

The second mistake was here:

5| all_books_total_cost.append(all_books_total_cost)

where my boss should have written "all_books_total_cost.append(book_total_cost)" as the previous code was just appending the empty list "all_books_total_cost" to itself.

There was no error code for this mistake, its just that the code didn't do what we wanted it to.

Plain english "Instead of adding to the list "all_books_total_cost" the value we found we were adding the list to itself, which returend a list of empty lists"

&#9989;&nbsp; **Part 2 (15 points):** In the empty code cell below, rewrite the buggy code so that it works properly.

In [19]:
#Here is the debugged code
all_books_total_cost = []

for jj in range(len(book_quantity)):
    book_total_cost = book_quantity[jj] * book_prices_in_USD[jj]
    all_books_total_cost.append(book_total_cost)
print(all_books_total_cost)

[2500, 1250, 50000, 50000, 1200, 300]

&#9989;&nbsp; **Part 3 (25 points):** Is this code looping by index or looping by value? Could you solve the problem using the other kind of `for` loop? If so, rewrite the code (in the code cell below) using the other form of looping. If not, rewrite the code into a while loop.

<font size=+3>&#9998;</font> The code is looping by index as the for loop "for jj in range(len(book_quantity)):" outputs a value that we then use as an index.

In [37]:
all_books_total_cost = []
k=0
while k <= len(book_names)-1:
    for i in book_quantity:
        values = []
        for j in book_prices_in_USD:
            values.append(i*j)
        all_books_total_cost.append(values[k])
        k = k+1
print(all_books_total_cost)

#This is my best try, all of the for loops are looping by value.

[2500, 1250, 50000, 50000, 1200, 300]

In [6]:
all_books_total_cost = []

jj = 0
while jj < len(book_quantity):
    book_total_cost = book_quantity[jj]*book_prices_in_USD[jj]
    all_books_total_cost.append(book_total_cost)
    jj = jj + 1
print(all_books_total_cost)

[2500, 1250, 50000, 50000, 1200, 300]

&#9989;&nbsp; **Part 4 (25 points):** The purpose of this code is to calculate the total cost of books. In the cell below, modify the code above so that it calculates the total cost of all of the books. Your code should also print out the total cost.

In [25]:
total_value = 0
for i in all_books_total_cost:
    total_value = total_value + i 
print ("The total cost of all books is "+str(total_value)+" USD")

The total cost of all books is 105250 USD

---

### Congratulations, you're done!

Submit this quiz by uploading it to the course Desire2Learn web page.  Go to the "Quizzes" section, find the submission folder link for Quiz #1, and upload it there.